.grid-item {     
    width: 100px;
    height: 100px;
    /* border: 1px solid blue; */
    background-color:yellow;
    float:left;
    margin:auto;
}
#divParent{
   margin: auto;
   /* background-color: red; */
}
.grid-item:hover{
    background-color:red;
    cursor: pointer;
}
.redBack {
    background-color: red !important;
}

button{
    padding: 12px 13px;
    background-color: yellow;
    color: red;
    border: none;
}